.footer__copyright {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
}
@media screen and (max-width: 900px) {
  .footer__copyright {
    margin: 0 19px 45px 19px;
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  .footer__copyright {
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 1.21;
    text-align: start;
  }
}
